<form [formGroup]="productForm">
    <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" required>
        <span *ngIf="name.touched && name.invalid">The name is not valid</span>
        <label for="price">Price</label>
        <input id="price" formControlName="price" required/>
        <span *ngIf="price.hasError('min')">The price is below minimum allowed value</span>
        <span *ngIf="price.invalid && price.hasError('required')">The price is required</span>
       
        <form formGroupName="info">
            <h2>Product Information</h2>
            <div>
                <label for="category">Category</label>
                <input id="category" formControlName="category" />
            </div>
            <div>
                <label for="descr">Description</label>
                <input id="descr" formControlName="description" />
            </div>
            <div>
                <label for="photo">Photo URL</label>
                <input id="photo" formControlName="image" />
            </div>
        </form>
    </div>
    <div>
        <button (click)="createProduct()" 
            [disabled]="!productForm.valid">
            Create
        </button>
    </div>
</form>