<!-- <div *appPermission="['admin', 'agent']">
    <input appNumeric>
</div> -->
<!-- <p *appPermission="['agent']" appAutofocus>Hi there, how are you?</p>

<p *appPermission="['admin']">Here is a secret: talanta</p> -->
<!-- <p>{{ prName }}</p>
<p>{{ title }}</p>
<p>{{ config.version }}</p>
<p>{{ productsService.comment }}</p> -->
<app-auth></app-auth>
<div routerLinkActive="div-active">
    <a routerLink="/products" routerLinkActive="active">Products</a>
</div>
<div routerLinkActive="div-active">
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
</div>
<div routerLinkActive="div-active">
    <a routerLink="/about" routerLinkActive="active">About Us</a>
</div>
<router-outlet></router-outlet>
