<div *ngIf="product$ | async as product">
    <h1 appAutofocus>Product Details</h1>
    <h3>{{ product.name }}</h3>
    <p>{{ productName }}</p>

    <div [ngSwitch]="product.name">
        <p *ngSwitchCase='"Blanket"'>
            Product is used for sleep
        </p>
        <p *ngSwitchCase="'Watch'">
            Product is for time keeping
        </p>
        <p *ngSwitchDefault>
            Product is for general use
        </p>
    </div>
    <button *ngIf="authService.isLoggedIn" (click)="buy()">Buy Now</button>
</div>