/* You can add global styles to this file, and also import other style files */

input {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.copyright {
    background-color: lightgray;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.invalid {
    border-bottom: 10px solid red;
}

.valid {
    border-bottom: 10px solid green;
}